/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
    background-color: #ebf4ff;
}
td, th {

    text-align: left;
    padding: 8px;
}

.card{
    box-shadow: 4px 4px 15px 0 rgba(36,37,38,.08);
    max-width: 100%;
    border-radius: .9rem;
    background-color: #fff;
    color: #22292f;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}
.card:hover {
    box-shadow: 4px 4px 40px 0 rgba(36,37,38,.2);
}
/*Overrides for Tailwind CSS */

/*Form fields*/
.dataTables_wrapper select,
.dataTables_wrapper .dataTables_filter input {
    color: #4a5568;             /*text-gray-700*/
    padding-left: 1rem;         /*pl-4*/
    padding-right: 1rem;        /*pl-4*/
    padding-top: .5rem;         /*pl-2*/
    padding-bottom: .5rem;      /*pl-2*/
    line-height: 1.25;          /*leading-tight*/
    border-width: 2px;          /*border-2*/
    border-radius: .25rem;
    border-color: #edf2f7;      /*border-gray-200*/
    background-color: #edf2f7;  /*bg-gray-200*/
}

/*Row Hover*/
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #ebf4ff;  /*bg-indigo-100*/
}

/*Pagination Buttons*/
.dataTables_wrapper .dataTables_paginate .paginate_button       {
    font-weight: 700;               /*font-bold*/
    border-radius: .25rem;          /*rounded*/
    border: 1px solid transparent;  /*border border-transparent*/
}

/*Pagination Buttons - Current selected */
.dataTables_wrapper .dataTables_paginate .paginate_button.current   {
    color: #fff !important;             /*text-white*/
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);    /*shadow*/
    font-weight: 700;                   /*font-bold*/
    border-radius: .25rem;              /*rounded*/
    background: #667eea !important;     /*bg-indigo-500*/
    border: 1px solid transparent;      /*border border-transparent*/
}
/*Pagination Buttons - Hover */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover     {
    color: #fff !important;             /*text-white*/
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);     /*shadow*/
    font-weight: 700;                   /*font-bold*/
    border-radius: .25rem;              /*rounded*/
    background: #667eea !important;     /*bg-indigo-500*/
    border: 1px solid transparent;      /*border border-transparent*/
}

/*Add padding to bottom border */
table.dataTable.no-footer {
    border-bottom: 1px solid #e2e8f0;   /*border-b-1 border-gray-300*/
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    background-color: #667eea !important; /*bg-indigo-500*/
}
.tw-btn-blue {
    background-color: #328af1;
    color: #fff !important;
    border-color: #328af1;
}
.tw-btn {
    -webkit-transition: background .3s,border-color .2s;
    transition: background .3s,border-color .2s;
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}
.tw-btn {
    display: inline-block;
    padding-top: .83rem;
    padding-bottom: .83rem;
    font-size: .75rem;
}
.tw-btn {
    display: block;
    color: #22292f;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    max-width: 30rem;
    text-align: center;
    border: 1px solid;
    border-radius: 18px;
}

.select_student{
    width: 152px;
    height: 168px;
    border:1px solid black;
    border-radius:15px;
}
.card_body {
    display: block;
    position: relative;
    padding-top:74px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.card_body input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    left:120px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 25px;
}

/* On mouse-over, add a grey background color */
.card_body:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.card_body input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.card_body input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.card_body .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.wait-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.btn-pulse, .quiz-arrow.pulse {
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}
.swal-button:hover, .tw-btn:hover {
    --text-opacity: 1;
    color: #328af1;
    color: rgba(50,138,241,var(--text-opacity));
    border-color: currentColor;
}
.tw-border-grey-panel {
    --border-opacity: 1;
    border-color: #f6f6f6;
    border-color: rgba(246,246,246,var(--border-opacity));
}
.tw-bg-grey-panel {
    --bg-opacity: 1;
    background-color: #f6f6f6;
    /* background-color: rgba(246,246,246,var(--bg-opacity)); */
}
@media (min-width: 992px) {
    .swal-button, .tw-btn {
        transition: background .3s, border-color .2s;
        max-width: 100%;
        padding: .83rem 2rem;
    }
}
.swal-button, .tw-btn {
    display: block;
    --text-opacity: 1;
    color: #22292f;
    color: rgba(34,41,47,var(--text-opacity));
    padding: 1.25rem 1.5rem;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    max-width: 30rem;
    text-align: center;
    border: 1px solid;
    border-radius: 18px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
